@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*{
    word-break: keep-all;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
html{   
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    height:100vh;
    overflow: hidden;
    background-color: #fff;
    margin:0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.25;
    color: #363a3c;
    font-family: "Spoqa Han Sans","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","돋움",Dotum,Verdana,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
a{
    box-sizing: border-box;
    background-color: transparent;
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
a:hover,a:focus,a:active{
    text-decoration:underline;
}
img{
    max-width: 100%;
    display: block;
}

.mttb_logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 126px;
    height: 35px;
    left: 80px;
    top: 60px;
}
#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

section {
	padding-bottom: 70px;
}

.text{
    /* we’re coming soon */
    position: absolute;
    width: 400px;
    height: 100px;
    left: calc(50% - 400px/2 + 0.78px);
    top: calc(42% - 100px/2 + 2.82px);
    text-align: center;
}

.text p{
    margin-top: 10px;
}

footer{
	width: 100%;
	height: 70px; /* 내용물에 따라 알맞는 값 설정 */
	bottom: 0px;
	position: absolute;
}
.contents{
    display: flex;
    width: 930px;
    margin: 0 auto;
    align-items: center;
    font-size: 14px;
}

.contents a{
    padding-left: 20px;
}

.contents span{
    padding-left: 20px;
}

.mobile {
    display: none;
}

.instagram{
    display: flex;
    align-items: center;

}

.Instagram_logo{
    width: 18px;
    height: 18px;
    right: 0px;
    margin-right: 4px;
}


@media only screen and (min-width: 670px){
}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 767px){
    
       
        .mttb_logo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        
        position: absolute;
        width: 86.4px;
        height: 24px;
        left: calc(50% - 86.4px/2 - 0.5px);
        top: 60px;
        }
    
        .text{
        /* we’re coming soon */
        position: absolute;
        width: 340px;
        height: 80px;
        font-size: 12px;
        left: calc(50% - 340px/2);
        top: calc(34% - 80px/2);
        }
    
    .text svg{
        width: 340px;
        height: 26px;
    }
    
    .contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        font-size: 11px;
        position: absolute;
        width: 300px;
        height: 150px;
        left: calc(50% - 300px/2 - 0.5px);
        bottom: 30px;
        top:inherit;
        word-break: break-all;
        }
    
    .contents a{
        margin-top: 10px;
        padding-left: 0;
        }

    .contents span{
        margin-top: 10px;
        padding-left: 0;
        }
    
    .mobile {
        display: block;
        text-align: center;
        }
    
    .pc {
        display: none;
        }
    
    .Instagram_logo{
        width: 12px;
        height: 12px;
        top: 0px;
        }

    }
@media screen and (max-width: 320px){
    
}